@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

/* Fix for form inputs */
input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  pointer-events: auto !important;
  opacity: 1 !important;
}

/* Panning cursor */
body.panning,
body.panning * {
  cursor: grabbing !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
